<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Veggies List</title>
</head>
<body>
  <h1>Veggies:</h1>
  <ul>
    <% veggies.forEach(function(veggie) { %>
      <li><%= veggie %></li>
    <% }) %>
  </ul>

</body>
</html>